

body{
    background-color: #aaa;
    min-height: 100vh;
}

table{
    background-color: #fff;
    border-radius: 10px;
}

table tr:last-child{
    border-bottom: #aaa !important;
}

th{
    height: 30px;
}

#jawaban{
    height: 40px;
}

.container{
    text-align: center;
    /* margin: 20px auto; */
    max-width: 600px;
    width: 80vw;
}

.modal-body ol li {
    text-align: left;
}

footer{
    border-top: 2px solid #ccc;
}